.limit-component-size {
  padding: var(--component-padding);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-gray2);
  height: var(--header-height);
}

header nav {
  width: 45%;
}

header nav ul {
  display: flex;
  justify-content: space-around;
}

header ul li a {
  width: clamp(7rem, 7vw, 10vw);
  display: block;
  text-align: center;
  font-weight: 400;
  color: var(--color-white);
  font-size: clamp(1.2rem, .9vw, 4.3rem);
  transition: all 0.4s ease;
}

header ul li a:hover {
  color: var(--color-blue1);
}

body section {
  width: 100%;
  height: 100vh;
  background-image: url('/assets/sd.jpg');
  background-repeat: no-repeat;
}