.limit-component-size {
  padding: var(--component-padding);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-gray2);
  height: 9vh;
  overflow-y: scroll;
}

header nav {
  width: clamp(32rem, 24.162vw, 50vw);
}

header nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
} 

header ul li a {
  font-family: "firaGo";
  font-weight: 400;
  color: var(--color-white);
  font-size: clamp(1.4rem, .7vw, 4.3rem);
  transition: all 0.4s ease;
}

header ul li a:hover {
  color: var(--color-blue1);
}